<div class="site-header">

    <nav class="site-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

         /* <div style="text-align:center">  */
         /*    <img src="css/3public-sector-icon.png" alt="data science" width="250" height="250"> */
         /* </div>  */
         
         <h1>
         <span>
         <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
         </span>
         </h1>
         
         <p style="color:gray80;font-size:100%;text-align:center">( data science for the public sector )</p>
     

    


</div>
