<div class="site-header">

    <nav class="site-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

    <p style="text-align:center;">
    <img src="css/2public-sector-icon.png" alt="data science" align="middle" width="300" height="300">
    </p>
    
     <h1>
     <span>
         <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
     </span>
    </h1>
    <p style="color:white;font-size:150%; text-align:center;">[ data science for the public sector ]</p>


</div>
