<div class="site-header">

    <nav class="site-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

    
    <h1>
     <span>
         <img src="css/2public-sector-icon.png" alt="data science" color="white" background="white" align="middle" width="250" height="250">
         <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
     </span>
    </h1>
    <p style="color:white;font-size:150%; text-align:center;">[ data science for the public sector ]</p>


</div>
